header {
    height: 100px;
    width: 100%;
    background-color: #001f3f;
    padding: 10px 0;
}
.nav-menu li {
    justify-content: center;
    cursor: pointer;
}

.nav-menu li a {
    text-decoration: none;
}
